h1 {
    text-shadow: 1px 2px yellow;
}


button {
    background-color: forestgreen;
    color: white;
    border: none;
    border-radius: 10px;
    width: auto;
    height: 50px;
}

button:hover {
    cursor: pointer;
}

li {
    list-style: none;
    border: 1px solid grey;
    text-align: center;
    background-color: whitesmoke;
}