#title {
    text-align: center;
    background-color: #D8D9DA;
    padding: 20px;
    border: 50px solid #61677A;
    margin-top: 0%;
}

body {
    background-image: url(./images/fondo.jpg);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#foto-perfil {
    border: 10px;
    border-style: solid;
    border-color: #FFF6E0;    
}

#foto-perfil:hover {
    opacity: 80%;
}

.subtitle {
    color: white;
    text-align: center;
}

p {
    color: white;
}

a[href] {
    text-decoration: wavy;
    color: red;
}